# copy this file to .env in the root of the app
#
#
# Get a key at https://min-api.cryptocompare.com/documentation
# Crypto compare is used for historical ohlc data in the graphs.
cryptocompare_key=<key>


# needed for Flask
SECRET_KEY='=I]t\ZE^|%8iY/Tm'

# google analytics
GA_TRACKING_ID=<google analytics id>

#log file
LOG_FILE="/var/log/josien.log"

