body { 
  background-color: #f2f3f4;
}

a {
  color: #ffffff;
}

a:hover {
  color: #3c3c3c;
}

.bg-doingwork {
  background-color: #917ea7;
}



table#listproducers.dataTable tr:hover {
  background-color: #523d6d;
}


.toolbar {
    float: left;
}

ul.social-network {
	list-style: none;
	display: inline;
	margin-left:0 !important;
	padding: 0;
}
ul.social-network li {
	display: inline;
	margin: 0 5px;
}
