{% block doc -%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="josien.net Block Producer">
    <meta name="author" content="Ferry Schuller">
    <link rel="apple-touch-icon" sizes="57x57" href="{{ url_for('static', filename='fav/apple-icon-57x57.png') }}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ url_for('static', filename='fav/apple-icon-60x60.png') }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ url_for('static', filename='fav/apple-icon-72x72.png') }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ url_for('static', filename='fav/apple-icon-76x76.png') }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ url_for('static', filename='fav/apple-icon-114x114.png') }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ url_for('static', filename='fav/apple-icon-120x120.png') }}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ url_for('static', filename='fav/apple-icon-144x144.png') }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ url_for('static', filename='fav/apple-icon-152x152.png') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='fav/apple-icon-180x180.png') }}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{{ url_for('static', filename='fav/android-icon-192x192.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='fav/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ url_for('static', filename='fav/favicon-96x96.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='fav/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='fav/manifest.json') }}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{ url_for('static', filename='fav/ms-icon-144x144.png') }}">
    <meta name="theme-color" content="#ffffff">
    <title>{% block title %}{% endblock title %}</title>
    {% assets "css_all" %}
        <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
    {% endassets %}
        <script type="text/javascript" src="static/js/hotjar.js"></script>
  </head>

  <body>


  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="{{ url_for('index') }}">josien.net</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item {% if request.path == '/' %}active{% endif %}">
            <a class="nav-link" href="{{ url_for('index') }}">Home <span class="sr-only">(current)</span></a>
          </li>

          <li class="nav-item {% if request.path == '/' %}active{% endif %}">
            <a class="nav-link" href="{{ url_for('bp') }}">bp.json <span class="sr-only">(current)</span></a>
          </li>

        </ul>
      </div>
    </nav>

    {% block content -%}
    {%- endblock content %}


    {% block scripts %}
    {% assets "js_all" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <script> $.notify({ title: '<strong>{{ category|e }}</strong>',
                              message: '{{ message }}'} ,
                            { placement: { from: "top", align: "center" },
                              type: '{{ category }}' });
          </script>
        {% endfor %}
      {% endif %}
    {% endwith %}
    {%- endblock scripts %}
  </body>
</html>
{% endblock doc -%}
