{% extends "base.html" %}
{% block title %}EU Block Producer by josiendotnet{% endblock %}
{% block content -%}

<script type="text/javascript" src="{{ url_for('static', filename='js/moment.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/chart.js') }}"></script>


<div class="container-fluid">

<ul class="list-inline">
<li class="list-inline-item">
<form role="form" class="form-inline" method="post" action="{{ url_for('charts') }}">
<input type="hidden" name="trxs" value="true">
<input type="hidden" name="seconds" value="5">
<button class="btn btn-outline-dark btn-sm" type="submit">5 sec</button>
</form>
</li>


<li class="list-inline-item">
<form role="form" class="form-inline" method="post" action="{{ url_for('charts') }}">
<input type="hidden" name="trxs" value="true">
<input type="hidden" name="seconds" value="300">
<button class="btn btn-outline-dark btn-sm" type="submit">300 sec</button>
</form>
</li>

<li class="list-inline-item">
<form role="form" class="form-inline" method="post" action="{{ url_for('charts') }}">
<input type="hidden" name="trxs" value="true">
<input type="hidden" name="seconds" value="3600">
<button class="btn btn-outline-dark btn-sm" type="submit">3600 sec</button>
</form>
</li>


<li class="list-inline-item">
<form role="form" class="form-inline" method="post" action="{{ url_for('charts') }}">
<input type="hidden" name="trxs" value="true">
<input type="hidden" name="seconds" value="86400">
<button class="btn btn-outline-dark btn-sm" type="submit">86400 sec</button>
</form>
</li>


</ul>


{% if trxs %}
<div> <canvas id="trxs" width="650" height="100"></canvas></div>
<script>
var ctx = document.getElementById('trxs').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        datasets: [{
            label: 'Transactions on remchain.',
            backgroundColor: '#533a75',
            borderColor: '#533a75',
            borderWidth: 1.6,
            pointRadius: 0.6,

            fill: false,
            data: [
{% for trx in trxs %}
{ 't': {{ trx.t }}, "y": {{ trx.y }} },
{% endfor %}
            ],
            borderWidth: 1
        }]
    },
    options: {
        legend: { display: false },
        title: { display: true, text: '' },
        scales: {
          xAxes: [ { type: 'time', 
                     time: { // parser: timeFormat, 
                             tooltipFormat: 'HH:mm', 
                             // unit: 'seconds', 
                             // unitStepSize: 600  
                            } } ], 
          yAxes: [ {  } ],

       }
    }
});
</script>
<br />
{% endif %}

<ul class="list-inline">

<li class="list-inline-item">
<form role="form" class="form-inline" method="post" action="{{ url_for('charts') }}">
<input type="hidden" name="roundTo" value="1800">
<input type="hidden" name="seconds" value="86400">
<button class="btn btn-outline-dark btn-sm" type="submit">1 Day</button>
</form>
</li>

<li class="list-inline-item">
<form role="form" class="form-inline" method="post" action="{{ url_for('charts') }}">
<input type="hidden" name="roundTo" value="3600">
<input type="hidden" name="seconds" value="1209600">
<button class="btn btn-outline-dark btn-sm" type="submit">1 Week</button>
</form>
</li>

<li class="list-inline-item">
<form role="form" class="form-inline" method="post" action="{{ url_for('charts') }}">
<input type="hidden" name="roundTo" value="28800">
<input type="hidden" name="seconds" value="2592000">
<button class="btn btn-outline-dark btn-sm" type="submit">30 days</button>
</form>
</li>

<button class="btn btn-outline-dark btn-sm" id="toggle">Toggle all</button>
</ul>


{% if cpu_usage %}

    <div>
        <canvas height="140", width="650" id="cpu_usage"></canvas>
    </div>

<script>
var timeFormat = 'MM/DD/YYYY HH:mm';

var config = {
    type: 'line',
     data: {
        datasets: [
            {% for data in cpu_usage %}
            { backgroundColor: "{{ data.backgroundColor }}",
              borderColor: "{{ data.borderColor }}",
              fill: "{{ data.fill }}",
              borderWidth: "{{ data.borderWidth }}",
              label: "{{ data.label }}",
              data: [
            {% for d in data.data %}
              {t: new Date({{ d.t }}), y: {{ d.y }}},
            {% endfor %}
            ] },
            {% endfor %}
    ]},
    options: {
                title: { display: true, text: 'Execution time of contract benchmark.' },
 
                elements: {
                    point:{
                        radius: 1
                    }
                },
                scales: {
                    xAxes: [{
                        type: 'time',
                        time: {
                            parser: timeFormat,
                            // round: 'day'
                            tooltipFormat: 'll HH:mm'
                        }
                    }],
                    yAxes: [{
                    }]
                },
            }
};

window.onload = function() {
    var ctx = document.getElementById('cpu_usage').getContext('2d');
    window.cpu_usage = new Chart(ctx, config);
};



</script>
{% endif %}


</div>
{%- endblock content %}
{% block scripts %}
    {{ super() }}
<script type=text/javascript>
  var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>

{%- endblock scripts %}
