{% extends "base.html" %}
{% block title %}EU Block Producer by josiendotnet{% endblock %}
{% block content -%}

<script type="text/javascript" src="{{ url_for('static', filename='js/moment.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/chart.js') }}"></script>

<div class="container-fluid">


<ul class="list-inline">
<li class="list-inline-item">
<form role="form" class="form-inline" method="post" action="{{ url_for('charts') }}">
<input type="hidden" name="roundTo" value="28800">
<input type="hidden" name="seconds" value="1209600">
   <button class="btn btn-primary form-edit-button" type="submit" >1 week</button></li>
</form>
</li>

<li class="list-inline-item">
<form role="form" class="form-inline" method="post" action="{{ url_for('charts') }}">
<input type="hidden" name="roundTo" value="28800">
<input type="hidden" name="seconds" value="2592000">
   <button class="btn btn-primary form-edit-button" type="submit" >30 days</button></li>
</form>
</li>

<li class="list-inline-item">
<form role="form" class="form-inline" method="post" action="{{ url_for('charts') }}">
<input type="hidden" name="roundTo" value="28800">
<input type="hidden" name="seconds" value="15768000">
   <button class="btn btn-primary form-edit-button" type="submit" >Half year</button></li>
</form>
</li>

<li class="list-inline-item">
<form role="form" class="form-inline" method="post" action="{{ url_for('charts') }}">
<input type="hidden" name="roundTo" value="28800">
<input type="hidden" name="seconds" value="31536000">
   <button class="btn btn-primary form-edit-button" type="submit" >One year</button></li>
</form>
</li>

</ul>


{% if cpu_usage %}

    <div>
        <canvas id="myChart"></canvas>
    </div>

<script>
var timeFormat = 'MM/DD/YYYY HH:mm';

var config = {
    type: 'line',
     data: {
        datasets: [
            {% for data in cpu_usage %}
            { backgroundColor: "{{ data.backgroundColor }}",
              borderColor: "{{ data.borderColor }}",
              fill: "{{ data.fill }}",
              label: "{{ data.label }}",
              data: [
            {% for d in data.data %}
              {t: new Date({{ d.t }}), y: {{ d.y }}},
            {% endfor %}
            ] },
            {% endfor %}
    ]},
    options: {
                title: {
                    text: 'Chart.js Time Scale'
                },
                scales: {
                    xAxes: [{
                        type: 'time',
                        time: {
                            parser: timeFormat,
                            // round: 'day'
                            tooltipFormat: 'll HH:mm'
                        }
                    }],
                    yAxes: [{
                    }]
                },
            }
};

window.onload = function() {
    var ctx = document.getElementById('myChart').getContext('2d');
    window.myChart = new Chart(ctx, config);
};
</script>
{% endif %}


</div>
{%- endblock content %}
{% block scripts %}
    {{ super() }}
<script type=text/javascript>
  var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>

{%- endblock scripts %}
