{% extends "base.html" %}
{% block title %}EU Block Producer by Josien.net{% endblock %}
{% block content -%}
<div class="container-fluid">
<h4>Code of Conduct</h4>
<br />
<h5><b>Mission</b></h5>
<p>Build first worldwide used Decentralized Public Key Infrastructure on REMChain.</p>
<br />
<h5><b>Vision</b></h5>
<p>Maintain a secure, robust and scalable REMME mainnet. Josien.net is active on Telegram helping the community.</p>
<br />
<h5><b>Team</b></h5>
<p><a href="https://www.linkedin.com/in/ferryschuller/" class="text-dark" target="_blank"><i class="fab fa-linkedin fa-2x"></i> Ferry Schuller</a></p>
<br />
<h5><b>Social</b></h5>
<a href="https://github.com/FerrySchuller/REMME-BP-web" class="text-dark" target="_blank"><i class="fab fa-github fa-2x"></i></a>
<a href="https://twitter.com/josien_net" class="text-dark" target="_blank"><i class="fab fa-twitter fa-2x"></i></a>
<a href="https://t.me/JosienNet" class="text-dark" target="_blank"><i class="fab fa-telegram fa-2x"></i></a>
</div>
{%- endblock content %}
{% block scripts %}
    {{ super() }}
<script type=text/javascript>
  var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
{%- endblock scripts %}
