{% extends "base.html" %}
{% block title %}Josien.net dev{% endblock %}
{% block content -%}
<div class="container-fluid">


<iframe src="https://calendar.google.com/calendar/embed?src=f-inter.net_k68j088lm629n915n798ob3qdc%40group.calendar.google.com&ctz=Europe%2FAmsterdam" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>

<iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=2&amp;bgcolor=%2333B679&amp;ctz=Europe%2FAmsterdam&amp;src=Zi1pbnRlci5uZXRfazY4ajA4OGxtNjI5bjkxNW43OThvYjNxZGNAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;src=bmwuZHV0Y2gjaG9saWRheUBncm91cC52LmNhbGVuZGFyLmdvb2dsZS5jb20&amp;color=%2381910B&amp;color=%23A59114&amp;showTz=0&amp;mode=WEEK&amp;hl=nl&amp;showCalendars=0&amp;showPrint=0" style="border:solid 1px #777" width="800" height="600" frameborder="0" scrolling="no"></iframe>
<!--
<button class="btn btn-outline-dark btn-sm" id="7" onClick="graph(this.id)">7 days</button>
<button class="btn btn-outline-dark btn-sm" id="14" onClick="graph(this.id)">14 days</button>
<button class="btn btn-outline-dark btn-sm" id="30" onClick="graph(this.id)">30 days</button>
<button class="btn btn-outline-dark btn-sm" id="60" onClick="graph(this.id)">60 days</button>
<button class="btn btn-outline-dark btn-sm" id="182" onClick="graph(this.id)">182 days</button>
<button class="btn btn-outline-dark btn-sm" id="365" onClick="graph(this.id)">365 days</button>


<div style="padding-top:10px;" id="cpu_benchmark" style="height: 400px; min-width: 310px"></div>
-->



</div>
{%- endblock content %}
{% block scripts %}
    {{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='js/graph.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/graph_static.js') }}"></script>
<script type=text/javascript>
  var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
{%- endblock scripts %}
