{% extends "base.html" %}
{% block title %}Josien.net dev{% endblock %}
{% block content -%}
<div class="container-fluid">

<canvas id="myChart" width="200" height="50"></canvas>

<script>

function xo() {
    return fetch('./_trxs')
        .then(response => response.json())
        .then((responseJSON) => {
            const { statusCode, data } = responseJSON;
            return responseJSON.y;
        })
        .catch((e) => {
            console.error(e);
        })
}

p = xo();

p.then(
  result => console.log(result), // shows "done!" after 1 second
  error => console.log(error) // doesn't run
);


function onRefresh(chart) {
    p = xo();
    p.then( result =>
    chart.config.data.datasets.forEach(function(dataset) {
    dataset.data.push({
            t: Date.now(),
            y: result
        });
    }),
    error =>  
    chart.config.data.datasets.forEach(function(dataset) {
    dataset.data.push({
            t: Date.now(),
            y: 0
        });
    }));
}


var config = {
  type: 'line',
  data: {
    datasets: [ {
            label: 'trxs',
            backgroundColor: 'rgb(54, 162, 235)',
            borderColor: 'rgb(54, 162, 235)',
            fill: false,
            data: []
        }
    ],
  },

    options: {
        title: {
            display: true,
            text: 'Amount of transactions per 0.5 seconds'
        },
        scales: {
            xAxes: [{
                type: 'realtime',
                realtime: {
                    duration: 200000,
                    refresh: 500,
                    delay: 2000,
                    onRefresh: onRefresh
                }
            }],
            yAxes: [{
                scaleLabel: {
                    display: true,
                    labelString: 'value'
                }
            }]
        },
        tooltips: {
            mode: 'nearest',
            intersect: false
        },
        hover: {
            mode: 'nearest',
            intersect: false
        }
    }

};


window.onload = function() {
    var ctx = document.getElementById('myChart').getContext('2d');
    window.myChart = new Chart(ctx, config);
};


</script>



<!--
<button class="btn btn-outline-dark btn-sm" id="7" onClick="graph(this.id)">7 days</button>
<button class="btn btn-outline-dark btn-sm" id="14" onClick="graph(this.id)">14 days</button>
<button class="btn btn-outline-dark btn-sm" id="30" onClick="graph(this.id)">30 days</button>
<button class="btn btn-outline-dark btn-sm" id="60" onClick="graph(this.id)">60 days</button>
<button class="btn btn-outline-dark btn-sm" id="182" onClick="graph(this.id)">182 days</button>
<button class="btn btn-outline-dark btn-sm" id="365" onClick="graph(this.id)">365 days</button>
<div style="padding-top:10px;" id="cpu_benchmark" style="height: 400px; min-width: 310px"></div>
-->

</div>
{%- endblock content %}
{% block scripts %}
    {{ super() }}
<script type=text/javascript>
  var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
{%- endblock scripts %}
