{% extends "base.html" %}
{% block title %}EU Block Producer by josiendotnet{% endblock %}
{% block content -%}
<div class="container-fluid">
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datasource@0.1.0"></script>
    <div>
        <canvas id="myChart"></canvas>
    </div>

<script>
function getRandomRgb() {
  var num = Math.round(0xffffff * Math.random());
  var r = num >> 16;
  var g = num >> 8 & 255;
  var b = num & 255;
  return 'rgb(' + r + ', ' + g + ', ' + b + ')';
}

var config = {
    type: 'line',
    data: {
        datasets: [{
            type: 'line',
            backgroundColor: 'transparent',
            borderColor: getRandomRgb(),
            pointBackgroundColor: getRandomRgb(),
            tension: 0,
            fill: false
        }
        ]
    },
    plugins: [ChartDataSource],
    options: {
        title: {
            display: true,
            text: 'JSON data source (datapoint) sample'
        },
        scales: {
            xAxes: [{
                scaleLabel: {
                    display: true,
                    labelString: 'Month'
                }
            }],
            yAxes: [{
                id: 'temperature',
                gridLines: {
                    drawOnChartArea: false
                },
                scaleLabel: {
                    display: true,
                    labelString: 'Temperature (°C)'
                }
            }, {
                id: 'precipitation',
                position: 'right',
                gridLines: {
                    drawOnChartArea: false
                },
                scaleLabel: {
                    display: true,
                    labelString: 'Precipitation (mm)'
                }
            }]
        },
        plugins: {
            datasource: {
                type: 'json',
                url: './_cpu_usage',
                rowMapping: 'datapoint',
                datapointLabelMapping: {
                    _dataset: 'dataset',
                    _index: 't',
                    t: 't',
                    y: 'value'
                },
                data: '*.*'
            }
        }
    }
};

window.onload = function() {
    var ctx = document.getElementById('myChart').getContext('2d');
    window.myChart = new Chart(ctx, config);
};
</script>


</div>
{%- endblock content %}
{% block scripts %}
    {{ super() }}
<script type=text/javascript>
  var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>

{%- endblock scripts %}
