{% extends "base.html" %}
{% block title %}EU Block Producer by josiendotnet{% endblock %}
{% block content -%}
<div class="container-fluid">
 <table id="listvoters" class="table table-sm table-dark table-striped table-bordered nowrap display" style="width:100%">
   <thead>
     <tr>
       <th>Guardian</th>
       <th>Staked</th>
       <th>Vote weight</th>
       <th><text data-toggle="tooltip" data-placement="top" data-html="true" title="Voted  # days ago">Voted</text></th>
       <th><text data-toggle="tooltip" data-placement="top" data-html="true" title="REMME staked for # days">Locked</text></th>
       <th><text data-toggle="tooltip" data-placement="top" data-html="true" title="Amount of REMME pending to withdraw">Rewards</text></th>
       <th><text data-toggle="tooltip" data-placement="top" data-html="true" title="Amount of Dollars pending to withdraw">USD</text></th>
       <th>Voted for</th>
     </tr>
   </thead>
 </table>
</div> <!-- end container-fluid -->
{%- endblock content %}
{% block scripts %}
    {{ super() }}
<script type=text/javascript>
  var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
{%- endblock scripts %}
