{% extends "base.html" %}
{% block title %}EU Block Producer by Josien.net{% endblock %}
{% block content -%}
<div class="container-fluid">
 <table id="listvoters" class="table table-sm table-dark table-striped table-bordered nowrap display" style="width:100%">
   <thead>
     <tr>
       <th>Guardian</th>
       <th>Staked</th>
       <th>Vote weight</th>
       <th>Locked</th>
       <th>Reward</th>
       <th>USD</th>
       <th>Voted for</th>
     </tr>
   </thead>
 </table>
</div> <!-- end container-fluid -->
{%- endblock content %}
{% block scripts %}
    {{ super() }}
<script type=text/javascript>
  var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
{%- endblock scripts %}
