{% extends "base.html" %}
{% block title %}EU Block Producer by Josien.net{% endblock %}

{% block content -%}
<div class="container-fluid">
<h4>EU Block Producer by Josien.net</h4>
  <div style="padding-top:8px;" id="graph" style="height: 400px; min-width: 310px"></div>
</div>
{%- endblock content %}
{% block scripts %}
    {{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='js/graphs.js') }}"></script>
<script type=text/javascript>
  var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
{%- endblock scripts %}
