{% extends "base.html" %}
{% block title %}EU Block Producer by josiendotnet{% endblock %}
{% block content -%}
<div class="container-fluid">
 <table id="listproducers" class="table table-sm table-dark table-striped table-bordered nowrap display" style="width:100%">
   <thead>
     <tr>
       <th>#</th>
       <th>Owner</th>
       <th>Total Votes</th>
       <th><text data-toggle="tooltip" data-placement="top" title="Number of guardians voted for the BP">#V</text></th>
       <th>Social</th>
       <th><text data-toggle="tooltip" data-placement="top" title="Click on the icons for detailed information from REMME<br />">Health</text></th>
       <th><text data-toggle="tooltip" data-placement="top" title="Registered BP is_active">Reg BP</text></th>
       <th><text data-toggle="tooltip" data-placement="top" title="Last Work Done">lwd</text></th>
       <th>bp.json</th>
     </tr>
   </thead>
 </table>
<br />
<!--
<h4>REM price</h4>
<div style="padding-top:8px;" id="vol" style="height: 400px; min-width: 310px"></div>
-->
</div>
{%- endblock content %}
{% block scripts %}
    {{ super() }}
<!-- <script type="text/javascript" src="{{ url_for('static', filename='js/graphs.js') }}"></script> -->
<script type=text/javascript>
  var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
{%- endblock scripts %}
