{% extends "base.html" %}
{% block title %}EU Block Producer by Josien.net{% endblock %}

{% block content -%}
<div class="container-fluid">


<div id="containers" style="width:100%; height:400px;"></div>

<h4>EU Block Producer by Josien.net</h4>


</div>

{%- endblock content %}

{% block scripts %}
    {{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='js/graph.js') }}"></script>
<script type=text/javascript>
  var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
{%- endblock scripts %}
