{% extends "base.html" %}
{% block title %}EU Block Producer by Josien.net{% endblock %}
{% block content -%}
<div class="container-fluid">

{% if owner and owner['data'] and owner['data']['bp_json'] and 'org' in owner['data']['bp_json'] and 'branding' in owner['data']['bp_json']['org']  %}
<img src="{{ owner['data']['bp_json'].org.branding.logo_256 }}" class="img-fluid">
{% endif %}

{% if owner and owner['data'] and owner['data']['voters']  %}
<h4>Guardians voted for: {{ data.account_name }}</h4>
{% for v in owner.data.voters %}
  <a style="color: grey;" href="{{ url_for('owner', owner=v) }}">{{ v }}</a><br />
{% endfor %}
{% endif %}

{% if data %}
<h4>Detailed information owner: {{ data.account_name }}</h4>
<br />
<dl class="row">
{% for k,v in data.items() %}
{% if k == 'permissions' %}
<dt class="col-sm-2">{{ k }}</dt>
<dd class="col-sm-10">
{% for p in v %}
{% for k in p.required_auth['keys'] %}
{% if p.perm_name == 'owner' %}
<b>{{ p.perm_name }} {{ p.parent }} {{ k.key }}</b><br />
{% else %}
{{ p.perm_name }} {{ p.parent }} {{ k.key }}<br />
{% endif %}
{% endfor %}
{% endfor %}
</dd>
{% elif k == 'total_resources' %}
<dt class="col-sm-2">{{ k }}</dt>
<dd class="col-sm-10">
owner: {{ v.owner }}<br />
net_weight: {{ v.net_weight }}<br />
cpu_weight: {{ v.cpu_weight }}<br />
own_stake_amount: {{ v.own_stake_amount }}<br />
free_stake_amount: {{ v.free_stake_amount }}
</dd>
{% elif k == 'self_delegated_bandwidth' %}
<dt class="col-sm-2">{{ k }}</dt>
<dd class="col-sm-10">
from: {{ v.from }}<br />
to: {{ v.to }}<br />
net_weight: {{ v.net_weight }}<br />
cpu_weight: {{ v.cpu_weight }}<br />
</dd>

{% elif k == 'voter_info' %}
<dt class="col-sm-2">{{ k }}</dt>
<dd class="col-sm-10">
{% for k,v in v.items() %}
{{ k }}: {{ v }}<br />
{% endfor %}
</dd>

{% elif k == 'net_limit' %}
<dt class="col-sm-2">{{ k }}</dt>
<dd class="col-sm-10">
{% for k,v in v.items() %}
{{ k }}: {{ v }}<br />
{% endfor %}
</dd>

{% elif k == 'cpu_limit' %}
<dt class="col-sm-2">{{ k }}</dt>
<dd class="col-sm-10">
{% for k,v in v.items() %}
{{ k }}: {{ v }}<br />
{% endfor %}
</dd>

{% else %}
<dt class="col-sm-2">{{ k }}</dt>
<dd class="col-sm-10">{{ v }}</dd>
{% endif %}
{% endfor %}
</dl>
{% endif %}
</div> <!-- end container-fluid -->
{%- endblock content %}
{% block scripts %}
    {{ super() }}
<script type=text/javascript>
  var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
{%- endblock scripts %}
