{% extends "base.html" %}
{% block title %}EU Block Producer by Josien.net{% endblock %}
{% block content -%}
<div class="container-fluid">
<h4>EU Block Producer by Josien.net</h4>
<table id="remswap" class="table table-sm table-dark table-striped table-bordered nowrap display" style="width:100%">
  <thead>
    <tr>
      <th>position</th>
      <th>key</th>
      <th>Value</th>
    </tr>
  </thead>
</table>
</div> <!-- end container-fluid -->
{%- endblock content %}
{% block scripts %}
    {{ super() }}
<script type=text/javascript>
  var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
{%- endblock scripts %}
